.rounded .swal2-confirm {
  border-radius: 10px;
  width: 180px;
  height: auto;
  padding: 12px 25px;
  font-weight: bold;
  margin-bottom: 10px;
  border: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.rounded .swal2-cancel {
  border-radius: 10px;
  border: 1px solid #6499e9;
  background-color: #fff;
  color: #6499e9;
  width: 180px;
  height: auto;
  padding: 10px 25px;
  font-weight: bold;
  margin-bottom: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.rounded-popup {
  border-radius: 10px;
  background-color: #fff;
  padding: 20px;
  width: 550px;
}

.swal2-popup {
  font-size: 18px;
  font-family: "Satoshi", sans-serif;
}

.custom-title {
  font-size: 35px;
  font-family: "Satoshi", sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}

.warning-icon {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.warning-icon svg {
  width: 15rem;
  height: 15rem;
}

.warning-text {
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
  color: #555;
}

.swal2-actions {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 0;
  margin-bottom: 10px;
}

.swal2-close {
  font-size: 28px;
  color: #999;
  top: 15px;
  right: 15px;
}
